body {
    background-color: #b1c2af;
    font-family: 'Arial', sans-serif; /* 设置字体 */
    color: #000000; /* 浅灰色文本 */
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#pdf-container {
    position: relative;
}

#pdf-canvas,
#text-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}