body {
    background-color: #b1c2af;
    font-family: 'Arial', sans-serif; /* 设置字体 */
    color: #000000; /* 浅灰色文本 */
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .d3-context-menu {
    width: auto;
    padding: 5px 0;
    background-color: #FFFFFF;
    border: solid 1px #D5D5D5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}